{% extends 'base.html' %}
{% block content %}
  <div>eunbeann</div>
  <img src="https://ghchart.rshah.org/eunbeann"/>
  <div>chanran33</div>
  <img src="https://ghchart.rshah.org/chanran33"/>
  <div>soosoo030</div>
  <img src="https://ghchart.rshah.org/soosoo030"/>
  <div>hinhyu</div>
  <img src="https://ghchart.rshah.org/hinhyu"/>
  <div>DAASHeo</div>
  <img src="https://ghchart.rshah.org/DAASHeo"/>
  <div>allzeroyou</div>
  <img src="https://ghchart.rshah.org/allzeroyou"/>
  <div>namseohyeon</div>
  <img src="https://ghchart.rshah.org/namseohyeon"/>
{% endblock content %}
